<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402822711168-6eh3ntk4khddrigv2v3rq4ldbecpsa77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402822711168-6eh3ntk4khddrigv2v3rq4ldbecpsa77</string>
	<key>API_KEY</key>
	<string>AIzaSyCMtKKZVThu6R1T95RNfBva1GEG77RXztU</string>
	<key>GCM_SENDER_ID</key>
	<string>402822711168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.impossiblegames.Blocksbuster</string>
	<key>PROJECT_ID</key>
	<string>ballsqueue-8aa8f</string>
	<key>STORAGE_BUCKET</key>
	<string>ballsqueue-8aa8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402822711168:ios:0829f15f7de348229ae365</string>
	<key>DATABASE_URL</key>
	<string>https://ballsqueue-8aa8f-default-rtdb.firebaseio.com</string>
</dict>
</plist>